.popup {
	position: fixed;
	top: 0;
	left: 0;
	@include flex-center;
	width: 100%;
	height: 100%;
	@include z-index(popup);
	transition: all .2s ease;
	opacity: 0;
	visibility: hidden;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
.popup_submit {
}
.popup_form_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(2, 6, 23, 0.45);
}
.remove {
}
.popup_form_w {
	background: $white;
	position: relative;
	max-width: 55.3rem;
	padding: 6rem;
}
.popup_close {
	position: absolute;
	top: 2rem;
	right: 2rem;
	button {
		color: #D90000;
	}
}
.icon {
}
.icon-close {
}
.popup_form_head {
	text-align: center;
	margin-bottom: 3rem;
}

.popup-custom {
	input {
		width: 43.4rem!important;
	}
	textarea {
		width: 43.3rem;
		margin-bottom: 3rem;
	}
} 
.placing_form_info {
	margin-bottom: 3rem;
	p {
		font-size: 1.6rem;
		font-family: $font_2;
	}
	span {
		color: #D90000;
	}
}
.popup_form_btn {
	margin-bottom: 2rem;
	input {
		@include app;
		width: 100%;
		background: $green;
		padding: 2.2rem 4rem;
		border-radius: 5rem;
		color: $white;
		font-family: $font_3;
		font-size: 2rem;
		transition: all .3s ease;
		&:hover {
			background: $lightgreen;
		}
	}
}
.popup_policy {
	font-size: 1.6rem;
	font-family: $font_2;
	color: rgba(47, 47, 47, 0.70);
	a {
		color:rgba(47, 47, 47, 0.70);
		border-bottom: .1rem solid rgba(47, 47, 47, 0.70);
	}
}





.popup {
}
.popup_menu {
	position: absolute;
	top: 100%;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	@include z-index(popup);
	transition: all .2s ease;
	opacity: 0;
	visibility: hidden;
	
	
	&.active {
		opacity: 1;
		visibility: visible;
		.popup_menu_main {
			transform: translateY(0);
		}
	}
}
.popup_form_bg_m {
}
.close_popups {
}
.remove {
}
.popup_menu_main {
	height: 65.1rem;
	background: $white;
	padding: 3.5rem 0 3.5rem 3.5rem;
	background: #FFF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	transform: translateY(10rem);
	transition: transform .3s ease;
	max-height: 61.5rem;
	overflow-y: auto;

}


/* scroll behavior on html */
.popup_menu_main {
  scroll-behavior: smooth;
}
/* scrollbar styling non-standard version */
.popup_menu_main::-webkit-scrollbar {
  width: 1rem;
  background-color: rgba(0,0,0,.15); 
}
.popup_menu_main::-webkit-scrollbar-thumb {
    background: #424242; 
}
/* scrollbar styling standard version */
.popup_menu_main {
  scrollbar-color: #424242 rgba(0,0,0,.15);
  scrollbar-width: thin;
}
.popup_form_m {
}
.popup_close_m {
}
.icon {
}
.icon-close {
}
.first_menu {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
	grid-gap: 7rem 0;
}
.popup_menu_category-top {
	display: flex;
	font-family: $font_3;
}
.popup_menu_category-img {
	width: 5rem;
	height: 5rem;
	margin-right: 2rem;
}
.popup_menu_category-bottom {
	margin-left: 7rem;
}
.sub-category {

	li {
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}