footer.footer 
	.section_in 
		.footer_main 
			.footer_top 
				.footer_contact_w 
					.footer_logo 
						a(href="#")
							img(src="i/logo.png", alt="")
					.footer_contact 
						.footer_mobil 
							a(href="#") +7 (800) 250 63 88
							a(href="#") +7 (988) 244 62 24
							a(href="#") +7 (988) 241 46 41
						.footer_mail 
							a(href="#") 2490249@list.ru
						.footer_addres 
							p г. Краснодар, ул. Троицкая, 137
				.footer_catalog 
					.footer_catalog_head 
						a(href="#") Каталог 
					.footer_catalog_list 
						ul 
							li 
								a(href="#") Униформа 
							li 
								a(href="#") Ресторанный текстиль
							li 
								a(href="#") Интерьерный текстиль
							li 
								a(href="#") Чехлы
							li 
								a(href="#") Брендирование 
							li 
								a(href="#") Практично и полезно
				.footer_menu 
					ul 
						li 
							a(href="#") Портфолио	
						li 
							a(href="#") Доставка и оплата
						li 
							a(href="#") Скачать каталог PDF
						li 
							a(href="#") Контакты
				.footer_search 
					form.search_foot
						input(type="text" placeholder="Поиск по товарам")
						button(type="search") 
							+icon('search')
			.footer_bottom 
				.footer_rights
					p © 2023 Decorator. Все права защищены
				.footer_right
					.footer_policy 
						a(href="#") Политика конфиденциальности
					.footer_arkada 
						a(href="#")
							img(src="i/arkada.png", alt="") 
