.popup.popup_menu
	.popup_form_m
		.section_in
			.popup_menu_main
				ul.first_menu
					li
						.popup_menu_category-top
							.popup_menu_category-img 
								img(src="../i/categoryimg1.png", alt="")
							.popup_menu_category-link
								a(href="#") Униформа
						.popup_menu_category-bottom
							ul.sub-category 
								li
									a(href="#") Фартуки с грудкой
								li
									a(href="#") Фартуки поясные
								li
									a(href="#") Карманы поясные
								li
									a(href="#") Куртки
								li
									a(href="#") Брюки
								li
									a(href="#") Головные уборы
								li
									a(href="#") Рубашки и поло
								li
									a(href="#") Жилеты
								li
									a(href="#") Юбки и платья
								li
									a(href="#") Галстуки и перчатки
								li
									a(href="#") Ткани
					li 
						.popup_menu_category-top
							.popup_menu_category-img 
								img(src="../i/categoryimg2.png", alt="")
							.popup_menu_category-link
								a(href="#") Ресторанный текстиль
						.popup_menu_category-bottom
							ul.sub-category
								li
									a(href="#") Куверты
								li
									a(href="#") Скатерти и напероны
								li
									a(href="#") Салфетки и подтарельники
								li
									a(href="#") Банкетный текстиль
								li
									a(href="#") Ткани
					li 
						.popup_menu_category-top
							.popup_menu_category-img 
								img(src="../i/categoryimg3.png", alt="")
							.popup_menu_category-link
								a(href="#") Интерьерный текстиль
						.popup_menu_category-bottom
							ul.sub-category
								li
									a(href="#") Шторы
								li
									a(href="#") Покрывала и саше
								li
									a(href="#") Ткани
					li 
						.popup_menu_category-top
							.popup_menu_category-img 
								img(src="../i/categoryimg4.png", alt="")
							.popup_menu_category-link
								a(href="#") Чехлы
						.popup_menu_category-bottom
							ul.sub-category
								li
									a(href="#") Чехлы на бутыли
								li
									a(href="#") Чехлы на мебель
								li
									a(href="#") Чехлы на оборудование
					li 
						.popup_menu_category-top
							.popup_menu_category-img 
								img(src="../i/categoryimg5.png", alt="")
							.popup_menu_category-link
								a(href="#") Брендирование
						.popup_menu_category-bottom
							ul.sub-category
								li
									a(href="#") Вышивка
								li
									a(href="#") Печать
					li 
						.popup_menu_category-top
							.popup_menu_category-img 
								img(src="../i/categoryimg6.png", alt="")
							.popup_menu_category-link
								a(href="#") Практично и полезно
						.popup_menu_category-bottom