.popup.popup_submit(data-id="form")
	.popup_form_bg.close_popups.remove
	.popup_form_w
		.popup_close.close_popups.remove 
			button(type="button")
				+icon('close')
		.popup_form_right
			.popup_form_head
				h3 Оставьте заявку
			form.popup_form
				.placing_form_input.popup-custom
					input(type="text" placeholder="Ф.И.О.")
				.placing_form_input.popup-custom
					input(type="tel" placeholder="Телефон")
				.placing_form_input.popup-custom
					input(type="mail" placeholder="E-mail")
				.placing_form_textarea.popup-custom
					textarea(rows="1" cols="79" placeholder="Комментарий") 
				.placing_form_info.popup-custom
					p Поля под <span>*</span> обязательны для заполнения
				.popup_form_btn 
					input(type="submit" value="Отправить заявку")
				.popup_policy!='Оставляя данные, вы соглашаетесь с <a href="#">политикой конфиденциальности</a>'
				




.popup.popup_menu(data-id="menu")
	.popup_form_bg_m.close_popups.remove 
	.popup_form_m
		.popup_menu_main
			ul.first_menu.remove
				li
					.popup_menu_category-top
						.popup_menu_category-img 
							img(src="../i/categoryimg1.png", alt="")
						.popup_menu_category-link
							a(href="#") Униформа
					.popup_menu_category-bottom
						ul.sub-category 
							li
								a(href="#") Фартуки с грудкой
							li
								a(href="#") Фартуки поясные
							li
								a(href="#") Карманы поясные
							li
								a(href="#") Куртки
							li
								a(href="#") Брюки
							li
								a(href="#") Головные уборы
							li
								a(href="#") Рубашки и поло
							li
								a(href="#") Жилеты
							li
								a(href="#") Юбки и платья
							li
								a(href="#") Галстуки и перчатки
							li
								a(href="#") Ткани
				li 
					.popup_menu_category-top
						.popup_menu_category-img 
							img(src="../i/categoryimg2.png", alt="")
						.popup_menu_category-link
							a(href="#") Ресторанный текстиль
					.popup_menu_category-bottom
						ul.sub-category
							li
								a(href="#") Куверты
							li
								a(href="#") Скатерти и напероны
							li
								a(href="#") Салфетки и подтарельники
							li
								a(href="#") Банкетный текстиль
							li
								a(href="#") Ткани
				li 
					.popup_menu_category-top
						.popup_menu_category-img 
							img(src="../i/categoryimg3.png", alt="")
						.popup_menu_category-link
							a(href="#") Интерьерный текстиль
					.popup_menu_category-bottom
						ul.sub-category
							li
								a(href="#") Шторы
							li
								a(href="#") Покрывала и саше
							li
								a(href="#") Ткани
				li 
					.popup_menu_category-top
						.popup_menu_category-img 
							img(src="../i/categoryimg4.png", alt="")
						.popup_menu_category-link
							a(href="#") Чехлы
					.popup_menu_category-bottom
						ul.sub-category
							li
								a(href="#") Чехлы на бутыли
							li
								a(href="#") Чехлы на мебель
							li
								a(href="#") Чехлы на оборудование
				li 
					.popup_menu_category-top
						.popup_menu_category-img 
							img(src="../i/categoryimg5.png", alt="")
						.popup_menu_category-link
							a(href="#") Брендирование
					.popup_menu_category-bottom
						ul.sub-category
							li
								a(href="#") Вышивка
							li
								a(href="#") Печать
				li 
					.popup_menu_category-top
						.popup_menu_category-img 
							img(src="../i/categoryimg6.png", alt="")
						.popup_menu_category-link
							a(href="#") Практично и полезно
					.popup_menu_category-bottom





