extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	section.contacts
		.section_in 
			.category_breadcrumbs
				ul 
					li 
						a(href="#") Главная
					li 
						p Контакты
			.contacts_main 
				.contacts_head 
					h1 КОНТАКТЫ 
				.contacts_list 
					.contacts_list_mobil
						p Телефоны
						a(href="#") +7 (800) 250 63 88
						a(href="#") +7 (988) 244 62 24
						a(href="#") +7 (988) 241 46 41
					.contacts_list_mail 
						p Почта
						a(href="#") 2490249@list.ru
					.contacts_list_addres 
						p Адрес
						p г. Краснодар, ул. Троицкая, 137, офис 6
					.contacts_list_schedule
						p График
						p По будням с 9:00 до 17:00 
				.contacts_map 
					.map
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9279389a384dc7cefb187e962a73ed98b3a2660c72d097a1b1f70f43d4b789df&amp;width=100%25&amp;height=478&amp;lang=ru_RU&amp;scroll=false"></script>
				.contacts_requisites
					.contacts_requisites_base 
						h6 Основные реквизиты
						ul 
							li 
								p <span>Свидетельство о регистрации:</span> 65 № 000793340 от 25.01.2008 г.
							li 
								p <span>ИНН:</span> 650700134022
							li 
								p <span>ОГРН:</span> 308650702500021
							li 
								p <span>ОКПО:</span> 0088010740
							li 
								p <span>ОКАТО:</span> 03401370000
							li 
								p <span>ОКТМО:</span> 03701000001
							li 
								p <span>ОКОГУ:</span> 4210015
							li 
								p <span>ОКФС:</span> 16
							li
								p <span>ОКОПФ:</span> 50102
					.contacts_requisites_bank 
						h6 Банковские реквизиты
						ul 
							li
								p <span>Наименование банка:</span> ПАО «Сбербанк»
							li 
								p <span>Р/С:</span> 40802810830000041498
							li 
								p <span>К/С:</span> 30101810100000000602
							li 
								p <span>ИНН/КПП:</span> 7707083893/773601001
							li 
								p <span>БИК:</span> 044525225
							li 
								p <span>Адрес Банка:</span> Россия, Москва, 117997, ул. Вавилова, д. 19




			